@model DropDownListCS.Models.CountryStateViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>DropDownList</h2>
      <div class="container">
          <div class="form-group">
              @if(ViewBag.CountryList != null)
              {
                  @Html.DropDownListFor(model => model.CountryID, ViewBag.CountryList as SelectList, "--Seleccione una Ciudad--", new { @class="form-control"})
              }  
          </div>
          <div class="form-group">

                  @Html.DropDownListFor(model => model.StateId, new  SelectList(" "), "--Seleccione un Estado--", new { @class = "form-control" })
       
          </div>

      </div>

</div>

